<configuration>
  <system.webServer>
    <handlers>
      <clear /> 
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url="/*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      interceptor="C:\Program Files\iisnode\interceptor.js"
      watchedFiles="*.js;*.json;*.env"
      recycleSignalEnabled="true"
      loggingEnabled="true"
      logDirectory="C:\inetpub\map-server\logs"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>